<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOLAdAdapterGoogleAdsRatio</key>
	<real>0.5</real>
	<key>TOLAdAdapterRevMobAdsRatio</key>
	<real>0.5</real>
	<key>TOLAdAdapteriAdsRatio</key>
	<integer>0</integer>
</dict>
</plist>
